* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: Montserrat;
	/* font-family: 'Montserrat Alternates', sans-serif; */
}
body {
	overflow-x: hidden;
}
.logo {
	position: absolute;
	left: 6rem;
	top: 3.3rem;
	font-size: 30px;
}

.nav-contents {
	height: 15vh;
}
.nav-item {
	margin: 1rem;
	/* font-size: 20px; */
}
.nav-link {
	color: rgb(12, 11, 11);
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
}
a:hover {
	cursor: pointer;
}

body {
	/* background-image: url('../img/Rectangle.svg'); */
	background-repeat: no-repeat;
	background-size: 100%;
}
.navigation-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.navbar-brand {
	margin-top: -2rem;
}
.register_login {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
li {
	list-style: none;
}
.startsmart_details {
	margin-top: 6rem;
}
.div_engage_us {
	margin-top: 1.5rem;
}
#get_started_link {
	width: 16rem;
}
.engage_us_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	/* font-size: 48px; */
	/* line-height: 60px; */
}
.our_project_tools {
	margin-top: 1rem;
}
.logout {
	border: solid 1px #fff;
}

.register_login {
	margin-right: 8rem;
}
.details {
	margin-top: 2rem;
}
.details_one {
	margin-left: -2rem;
}
.undraw_team_spirit {
	margin-left: 6rem;
}

.div_what_is_smartstart {
	margin-top: 6rem;
}
.what_do_we_do {
	margin: 2rem;
}
.our_statement {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 6rem;
}
.our_statement_one,
.our_statement_two,
.our_statement_three {
	border-left: 2px solid #d32d91;
	height: 13rem;
	position: absolute;
}
.our_statement_one p,
.our_statement_two p,
.our_statement_three p {
	padding-left: 1.5rem;
}

/* #incoming_data , */
.one {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30rem;
}

/* dev-abayomi styles end here */

.modal-title {
	margin-left: 190px;
	color: rgb(247, 230, 246);
	font-size: 30px;
}
.modalbtn {
	margin-top: 40px;
	margin-bottom: 10px;
	background: #800080 !important;
	border: none !important;
	font-size: 20px !important;
}

.signinupbgd {
	width: 50%;
	margin: auto;
	color: black;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}

.error {
	color: rgb(247, 4, 4);
}
.signinupbtn {
	color: black;
	background: #ffffff !important;
	border: none !important;
	font-size: 20px !important;
	font-weight: 900 !important;
}
.signinuptext {
	margin-top: 10px;
	padding-right: 10px;
	color: #141414 !important;
	font-weight: normal !important;
	font-size: 16px;
	line-height: 20px;
}
.topword {
	margin-top: 60px;
}
.create {
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
}

.detail {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}

form {
	width: 100%;
	margin-top: 50px;
	/* margin-left: 20px; */
}

/* footer styles start */

footer {
	background-color: rgb(12, 11, 11);
	height: 15rem;
	margin-top: 2rem;
}
.footer-box {
	padding-top: 1.5rem;
	color: #fff;
	margin-bottom: 0;
	margin-left: -1rem;
}
.newsletter_address_div_container {
	display: flex;
	justify-content: space-between;
}
.address_div {
	margin-top: 1.5rem;
}
.join_now {
	position: absolute;
	right: 46.6rem;
	margin-top: 0rem;
	height: 3rem;
	width: 11.2rem;
	background: #800080;
	color: #fff;
}
.input_newsletter {
	width: 20rem;
	height: 3rem;
	background: #c4c4c4;
}

.footer-input:hover {
	text-decoration: none;
}
address {
	color: #fff;
}

/* footer styles end */

/* media query  */

@media (max-width: 425px) {
	.nav-item {
		margin: 0rem;
		font-size: 20px;
	}
}
