*,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat;
}
body {
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}
.main-container {
	width: 100%;
	height: 100vh;
}
.logo {
	position: absolute;
	left: 6rem;
	top: 3.3rem;
	font-size: 30px;
}
.new-navbar {
	display: none;
}

.nav-item {
	margin: 1rem;
	/* font-size: 20px; */
}
.nav-link {
	color: rgb(12, 11, 11);
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
}
a {
	color: #ffffff !important;
	border: none !important;
}
a:hover {
	cursor: pointer;
	color: #ffffff !important;
}

.startsmart_details_div {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
		url('../img/cms_S/adults-analysis-brainstorming-1661004.svg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	max-width: 1500px;
	width: 100%;
}
#startsmart_details {
	margin-top: 8rem;
}
.navigation-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.navigation-items-one {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	/* background-color: #800080; */
	color: #ffffff;
}
.navbar-brand {
	margin-top: -2rem;
}
.register_login {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

li {
	list-style: none;
}

.div_engage_us {
	margin-top: 1.5rem;
}
#get_started_link {
	width: 16rem;
}
.engage_us_text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
}
.our_project_tools {
	margin-top: 1rem;
}
.logout {
	border: solid 1px #fff;
}

.register_login {
	margin-right: 22rem;
	-webkit-filter: contrast(100%);
	filter: contrast(100%);
}
.details {
	margin-top: 2rem;
}
.details_one {
	margin-left: -2rem;
	color: #ffffff;
	-webkit-filter: contrast(100%);
	filter: contrast(100%);
}

.div_what_is_smartstart {
	margin-top: 6rem;
}
.what_do_we_do {
	margin: 2rem;
}
.our_statement {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 6rem;
}

/* #incoming_data , */
.one {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30rem;
}

/* dev-abayomi styles end here */

.modal-title {
	margin-left: 190px;
	color: rgb(247, 230, 246);
	font-size: 30px;
}
.modalbtn {
	margin-top: 40px;
	margin-bottom: 10px;
	background: #800080 !important;
	border: none !important;
	font-size: 20px !important;
}

.signinupbgd {
	width: 50%;
	margin: auto;
	color: black;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}

.error {
	color: rgb(247, 4, 4);
}

.btn-outline-dark {
	color: #343a40;
	background-color: transparent;
	background-image: none;
	border-color: #800080 !important;
}
.btn-outline-dark:hover {
	background-color: #800080 !important;
	background-image: none;
	border-color: #800080 !important;
}
.signinuptext {
	margin-top: 10px;
	padding-right: 10px;
	color: #141414 !important;
	font-weight: normal !important;
	font-size: 16px;
	line-height: 20px;
}
.topword {
	margin-top: 60px;
}
.create {
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
}

.detail {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
}

form {
	width: 100%;
	margin-top: 50px;
	/* margin-left: 20px; */
}

/* footer styles start */

footer {
	background-color: rgb(12, 11, 11);
	height: 15rem;
	margin-top: 2rem;
}
.footer-box {
	padding-top: 1.5rem;
	color: #fff;
	margin-bottom: 0;
	margin-left: 10.1rem;
}
.newsletter_address_div_container {
	display: flex;
	justify-content: space-around;
}
.newletter_div {
	margin-left: -4.5rem;
}
.address_div {
	margin-top: 2rem;
	margin-right: 5rem;
}

.input_newsletter {
	width: 20rem;
	height: 3rem;
	background: #c4c4c4;
}
.join_now {
	position: absolute;
	margin-top: 0rem;
	height: 3rem;
	width: 11.2rem;
	background: #800080;
	color: #fff;
}
.footer-input:hover {
	text-decoration: none;
}
address {
	color: #fff;
}

/* footer styles end */

/* media query  dev-abayomi */
@media (max-width: 1440px) {
	.logo {
		position: absolute;
		left: 4rem;
		top: 2.8rem;
		font-size: 30px;
	}
	.engage_us_text {
		font-size: 30px;
		margin-left: 3rem;
	}
	.div_engage_us_text {
		font-size: 20px;
		margin-left: 3rem;
	}
	.modalbtn {
		margin-left: 4rem;
	}
	#projects-span {
		-webkit-filter: brightness(200%);
		filter: brightness(200%);
	}
	.register_login {
		margin-right: 3rem !important;
	}
	.div_what_is_smartstart,
	.our_statement,
	.newsletter_address_div_container,
	.details {
		width: 1440px;
	}

	.footer-box,
	.newletter_div {
		margin-left: 2rem;
	}
	.address_div {
		margin-right: 20rem;
	}
}

@media (max-width: 1024px) {
	.logo {
		position: absolute;
		left: 4rem;
		top: 2.5rem;
		font-size: 30px;
	}
	.engage_us_text {
		font-size: 30px;
		margin-left: 3rem;
	}
	.div_engage_us_text {
		font-size: 20px;
		margin-left: 3rem;
	}
	.modalbtn {
		margin-left: 4rem;
	}
	#projects-span {
		-webkit-filter: brightness(200%);
		filter: brightness(200%);
	}
	.register_login {
		margin-right: 5rem !important;
		margin-top: -.8rem;
	}
	.div_what_is_smartstart,
	.our_statement,
	.newsletter_address_div_container,
	.details {
		width: 1024px;
	}

	.footer-box,
	.newletter_div {
		margin-left: 2rem;
	}
	.address_div {
		margin-right: 5rem;
	}
}
@media (max-width: 768px) {
	.div_what_is_smartstart,
	.our_statement,
	.newsletter_address_div_container,
	.details {
		width: 768px;
	}
	.logo {
		left: 1.5rem;
		top: .8rem;
	}

	.details_one {
		margin-top: -2rem;
	}
	.nav-link {
		margin-left: -3.0rem;
		margin-top: -.5rem;
	}
	.new-navbar {
		display: block;
	}
	.dropdown-item {
		color: black !important;
	}

	.navigation-items {
		display: none;
	}
	.engage_us_text {
		font-size: 30px;
		margin-left: 3rem;
	}
	.div_engage_us_text {
		font-size: 20px;
		margin-left: 3rem;
	}
	.modalbtn {
		margin-left: 4rem;
	}
	.footer-heading {
		font-size: 20px;
	}
	.input_newsletter {
		width: 10rem;
		height: 2.8rem;
		margin-left: 1rem;
		background: #c4c4c4;
	}
	.join_now {
		position: absolute;
		margin-top: 0rem;
		height: 2.8rem;
		width: 6.2rem;
		background: #800080;
		color: #fff;
	}
	.address_div {
		margin-right: 5rem;
		margin-bottom: 1rem;
		font-size: 15px;
	}
	.newsletter_address_div_container {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 425px) {
	.div_what_is_smartstart,
	.our_statement,
	.newsletter_address_div_container,
	.details {
		width: 425px;
	}
	.logo {
		width: 150px;
		left: 2rem;
		top: .5rem;
	}

	.details_one {
		margin-top: -2rem;
	}
	.nav-link {
		margin-top: -1rem;
		margin-left: 15rem;
	}
	h2,
	p {
		text-align: center;
		padding-left: 1rem;
	}

	.new-navbar {
		display: block;
	}
	.dropdown-item {
		color: black !important;
	}

	.navigation-items {
		display: none;
	}
	.engage_us_text {
		font-size: 35px;
		margin-left: 4rem;
	}

	.div_engage_us_text {
		font-size: 20px;
		margin-left: 4rem;
	}
	.modalbtn {
		margin-left: 7rem;
	}
	.footer-heading {
		font-size: 30px;
	}
	.input_newsletter {
		width: 8rem;
		height: 1.8rem;
		margin-left: .5rem;
		background: #c4c4c4;
	}
	.footer-paragraph {
		margin-left: 1.5rem;
		padding: 0. 2rem;
	}
	.join_now {
		position: absolute;
		margin-top: 0rem;
		height: 1.8rem;
		width: 5.2rem;
		background: #800080;
		color: #fff;
	}

	.footer-box {
		margin-left: -1rem;
	}
	.address_div {
		margin-right: .2rem;
		margin-top: 2rem;
		font-size: 10px;
	}
}

@media (max-width: 375px) {
	.div_what_is_smartstart,
	.our_statement,
	.newsletter_address_div_container,
	.details {
		width: 375px;
	}
	.logo {
		width: 150px;
		left: 2rem;
		top: .5rem;
	}

	.details_one {
		margin-top: -7rem;
		margin-left: -3rem;
	}

	.nav-link {
		margin-top: -1rem;
		margin-left: 14rem;
	}
	h2,
	p {
		text-align: center;
	}
	.new-navbar {
		display: block;
	}
	.dropdown-item {
		color: black !important;
	}

	.navigation-items {
		display: none;
	}
	.engage_us_text {
		font-size: 30px;
		margin-left: 4rem;
	}
	.div_engage_us_text {
		font-size: 20px;
		margin-left: 4rem;
	}
	.modalbtn {
		margin-left: 5rem;
	}
	.footer-heading {
		font-size: 25px;
	}
	.input_newsletter {
		width: 6rem;
		height: 1.5rem;
		margin-left: .5rem;
		background: #c4c4c4;
	}
	.join_now {
		position: absolute;
		margin-top: 0rem;
		height: 1.5rem;
		width: 5.2rem;
		background: #800080;
		color: #fff;
	}
	.address_div {
		margin-right: -.3rem;
		margin-top: 2rem;
		font-size: 10px;
	}
}
@media (max-width: 320px) {
	.div_what_is_smartstart,
	.our_statement,
	.newsletter_address_div_container,
	.details {
		width: 320px;
	}
	.logo {
		width: 150px;
		left: 2rem;
		top: .6rem;
	}

	.details_one {
		margin-top: -4rem;
	}
	.nav-link {
		margin-top: -1rem;
		margin-left: 13rem;
	}
	h2,
	p {
		text-align: center;
	}
	.new-navbar {
		display: block;
	}
	.dropdown-item {
		color: black !important;
	}

	.navigation-items {
		display: none;
	}
	.engage_us_text {
		font-size: 25px;
		margin-left: 4rem;
	}
	.div_engage_us_text {
		font-size: 15px;
		margin-left: 4rem;
	}
	.modalbtn {
		margin-left: 3rem;
	}
	.footer-heading {
		font-size: 25px;
	}
	.input_newsletter {
		position: absolute;
		width: 6rem;
		height: 1.5rem;
		margin-top: -3rem;
		margin-left: .5rem;
		background: #c4c4c4;
	}
	.join_now {
		position: absolute;
		margin-top: -3rem;
		height: 1.5rem;
		width: 5.2rem;
		margin-left: 6rem;
		background: #800080;
		color: #fff;
	}
	.address_div {
		margin-right: -.3rem;
		margin-top: 2rem;
		font-size: 10px;
	}
}

/* media query  dev-abayomi */

/* media query for sign in / up */
