* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
body {
	overflow-x: hidden;
}
.logo {
	position: absolute;
	left: 12px;
	top: 1.1rem;
	font-size: 30px;
}

.nav-contents {
	height: 15vh;
}
.nav-item {
	margin: 1rem;
	font-size: 20px;
}

a:hover {
	cursor: pointer;
}

body {
	background-image: url('../img/Rectangle.svg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.navigation-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.navbar-brand {
	margin-top: -2rem;
}
.register_login {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
li {
	list-style: none;
}

.logout {
	border: solid 1px #fff;
}

.register_login {
	margin-right: 8rem;
}
.details {
	margin-top: 2rem;
}
.details_one {
	margin-left: -2rem;
}
.undraw_team_spirit {
	margin-left: 6rem;
}

.div_what_is_smartstart {
	margin-top: 6rem;
}
.what_do_we_do {
	margin: 2rem;
}
.our_statement {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.our_statement_one,
.our_statement_two,
.our_statement_three {
	border-left: 2px solid #d32d91;
	height: 13rem;
	position: absolute;
	/* bottom: -10; */
}
.our_statement_one p,
.our_statement_two p,
.our_statement_three p {
	padding-left: 1.5rem;
}

/* #incoming_data , */
.one {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30rem;
}

/* dev-abayomi styles end here */

.modal-title {
	margin-left: 190px;
	color: rgb(247, 230, 246);
	font-size: 30px;
}
.modalbtn {
	margin-top: 20px;
	margin-left: 130px;
	margin-bottom: 10px;
	background: #800080 !important;
	border: none !important;
	font-size: 20px !important;
}

.modal-header {
	width: 600px;
	background: #800080;
}
.modal-body {
	width: 600px;
}

.loginbgd {
	background-image: url('../img/modalimg.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
.signupbgd {
	background-image: url('../img/modalimg.svg');
	background-repeat: no-repeat;

	background-size: 600px 608px;
}
.modal-footer {
	border: none !important;
}

.error {
	color: rgb(247, 4, 4);
}
.signupmodalbtn {
	margin-right: 90px;
	background: #800080 !important;
	border: none !important;
	font-size: 20px !important;
}
.signuptext {
	margin-top: 10px;
	padding-right: 10px;
	font-weight: 900 !important;
	color: #800080 !important;
}
form {
	width: 60%;
	margin-top: 30px;
	margin-left: 20px;
}

/* footer styles start */

footer {
	background-color: #800080;
	height: 15rem;
	margin-top: 2rem;
}
.footer-box {
	padding-top: 1.5rem;
	color: #fff;
	margin-bottom: 0;
}
.newsletter_address_div_container {
	display: flex;
	justify-content: space-between;
}
.join_now {
	position: absolute;
	right: 46.6rem;
	margin-top: -3rem;
	height: 3rem;
	width: 10rem;
	background-color: #0000;
	color: #fff;
}
.input_newsletter {
	width: 20rem;
	height: 3rem;
}

.footer-input:hover {
	text-decoration: none;
}
address {
	color: #fff;
}

/* footer styles end */

/* media query  */

@media (max-width: 425px) {
	.nav-item {
		margin: 0rem;
		font-size: 20px;
	}
}
